@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&family=Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    padding: 0%;
    margin: 0%;
    font-family: 'Space Grotesk', sans-serif;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right,rgb(41, 94, 238),rgb(13, 226, 155));

}

h2{
    color: white;
}

video{
    transform: translate(60%,50%);
}


/* navbar style */

.navbar
{
    background-image: linear-gradient(to right,rgb(41, 94, 238),rgb(13, 226, 155));
    width: 100%;
    height: 10vh;
    top: 1%;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.navbar h1{
    font-size: 2.5rem;
    user-select: none ;
    cursor: pointer;
    text-shadow: 4px 4px 4px 4px #aaa;

}

.navbar h1:hover{
    color: red;
}

.navbar span:hover{
    color: black;
}

.navbar span{
    color: red;
}

.navbar ul{
    flex-wrap: wrap;
    display: flex;
    margin-top: 0%;
}
.navbar ul li{
    list-style: none;
    margin: 0 10px;
    padding: 15px;
    text-transform: lowercase;
}
#manu-bar ul li a{
    text-decoration: none;
    font-size:1.2rem;
    color: black;

}

#manu-bar ul li a:hover{
    color: #fff;;
    text-shadow: 4px 4px 4px 4px #aaa;
}

#manu-bar ul .home:visited{
    color: #fff;
}

#manu-bar ul .home:hover{
    color:red;
}


/* button style */
button {
    margin-top: 10px;
    height: 35px;
    width: 80px;
    border: none;
    border-radius: 8px;
    padding: 2px;
    justify-content: space-between;  
}

.sign{
    margin-right: 12px;
}

button:hover{
    color: red;
    background-color: #0de26c;
    transition: 1s;
}

button:focus{
    background-color: rgb(0, 241, 109);
}

button .in:hover{
    color: black;
}

i{
    align-self: center;
    /* margin-top: 15px; */
    color:#fff;
}

i:hover{
    color:red;
}

.sign{
    background-repeat: no-repeat;
}
/* navbar style */



.visit,.info{

    padding: 5px;
    background-color: #0d2ab7;
    margin-left: 45%;
}

h2{
    text-align: center;
}
.fas
{
    display: none;
}

@media screen and (max-width:1080px) {

    .navbar{
        background-image: linear-gradient(to right,rgb(41, 94, 238),rgb(13, 226, 155));
        justify-content: none;
    }

    .navbar h1{
        font-size:1.6rem;
    }

    #manu-bar ul{
        text-align: center;

    }

    #manu-bar ul li{
        margin: 5px;
    }

    #manu-bar ul li a{
        font-size:18px;
    }

    button{
        height: 35px;
        width: 50px;
    }

    body p,.visit,.info{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    video{
        background-color:rosybrown;
        width: 420px;
        height:300px;
        transform: translate(50%,50%);

    }

    h2{
        text-align: center;
    }

}

@media screen and (max-width:700px) {

    .navbar h1{
        font-size:10px ;
    }

    .navbar{
        text-align: center;
    }

    .web-name h1,span{
        font-size:20px;;
    }

    #manu-bar ul{
        display: flex;
        text-align: center;
        font-size:10px;
    }

    #manu-bar ul li{
        text-align: center;
    }

    #manu-bar ul li a{
        margin-top: 10px;
        text-align: center;
        font-size: 15px;
    }

    video{
        transform: translate(10%,50%);
        background-color:red ;

    }

    .sign,.log,.in{
        width:35px;
        font-size: 10px;
    }

    h2{
        transform: translate(0%,50%);
        text-align: center;
    }
}

@media screen and (max-width:700px){
    :root {
        --h:0px;
    }
    .active{
        --h:40%;
    }
    #manu-bar{
        top: 10%;
        width: 100%;
        height: 40%;
        background-color: #fff;
        position: absolute;
        z-index: 999;
        overflow: hidden;
        transition: 0.5s;
        height: var(--h);
    }
    nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    #manu-bar ul li a:hover
    {
        color: red;
    }
    .sign, .log, .in{
        width: 150px;
    }
    .sign{
        margin-right: 0;
    }
    .fas
    {
        display: block;
    }   
.fa-home
{
    display: none;
}
}

@media screen and (max-width:500px){
    video{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width:90%;
        height: auto;
    }
    .log
    {
        position: absolute;
        bottom: 5%;
        left: 10px;
    }
    #h
    {
        color: red;
    }
    .sign
    {
        position: absolute;
        bottom: 5%;
        right: 10px;
    }
}